*{
    margin: 0;
    padding: 0;
}
.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    box-shadow: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.conteiner div {
    width: 200px;
    height: 150px;
    background-color: beige;
  }
.conteiner p{
    margin-top: 15px;
}
        